@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  padding: 0;margin: 0;box-sizing: border-box;
  font-family: "Anton", sans-serif;
}



body{
  background: rgb(74, 74, 74);
}
  

 span{
    font-family: "Bebas Neue", sans-serif;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    letter-spacing: .5rem;
    font-size: .5rem;
    color: rgb(255, 174, 0);
    font-style: normal;
  }

  span{
    font-size: 3rem;
  }

  main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }